
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <p>Xin chào admin</p>
    </div><!--/. container-fluid -->
</section>
<!-- /.content -->
