
@{
    ViewData["Title"] = "ThankOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-12">
                <ul class="breadcrumb">
                    <li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                    <li class="active">Lời cảm ơn</li>
                </ul>
                 <p style="margin: 100px 0px 100px 0px" class="text-center">Cảm ơn bạn đã tin tưởng và ủng hộ ShuperShop chúng tôi sẽ sớm liên hệ với bạn qua email
                <br><a asp-action="Index" asp-controller="Home">Quay về trang chủ</a></p>
             </div>
            </div>
        </div>
    </div>
</div>

