@model IEnumerable<BTL.Models.Posts>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content" style="padding-top: 20px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách bài viết</h3>
                    </div>

                    <div class="card-body">
                        <a class="btn btn-primary" href="/Admin/Posts/Create">Thêm mới bài viết</a>
                        <table class="table table-bordered" style="margin-top: 20px">
                            <thead>
                                <tr>
                                    <th>Mã bài viết</th>
                                    <th>Tên bài viết</th>
                                    <th>Trạng thái</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var posts in Model)
                                {
                                    <tr>
                                        <td>@posts.PostId</td>
                                        <td>@posts.NamePost</td>
                                        <td>
                                            @if ((bool)posts.Status)
                                            {
                                                <span class="badge bg-success">Sử dụng</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-danger">Không sử dụng</span>
                                            }

                                        </td>
                                        <td>
                                            <a style="color: green" href="Admin/Posts/Edit?id=@posts.PostId" title="Sửa thông tin"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            <a style="color: red;padding-left: 20px" href="Admin/Posts/Delete?id=@posts.PostId " title="Xóa bản ghi"><i class="fa fa-trash" aria-hidden="true"></i></a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-right">
                            <li class="page-item"><a class="page-link" href="#">«</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>






