@model IEnumerable<BTL.Models.Brands>
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content" style="padding-top: 20px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thêm mới nhãn hàng</h3>
                    </div>

                    <form action="/Admin/Brands/Create" method="POST" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1"> Mã nhãn hàng</label>
                                <input type="text" name="BrandId" class="form-control" id="exampleInputEmail1" placeholder="Nhập mã nhãn hàng">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1"> Tên nhãn hàng</label>
                                <input type="text" name="NameBrand" class="form-control" id="exampleInputEmail1" placeholder="Nhập tên nhãn hàng">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1"> Ảnh nhãn hàng</label>
                                <input type="file" class="form-control-file" name="Image" id="exampleFormControlFile1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Trạng thái</label>
                                <br>
                                <input type="radio" name="Status" value="true" checked>Sử dụng
                                <input type="radio" name="Status" value="false">Không sử dụng
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Ghi thông tin</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>







